
@using React.RenderFunctions
@model IEnumerable<boat_app_v2.Entities.Models.Boat>
@*
@model IEnumerable<boat_app_v2.Models.CommentModel>
*@
@{
	Layout = "_Layout";
}
<html>
<head>
	<title>Hello React</title>
</head>
<body>
@Html.React("BoatBox", new
	{
		initialData = Model,
		url = Url.Action("AllBoats"),
		submitUrl = Url.Action("AddBoat"),
		updateUrl = Url.Action("UpdateBoat"),
		deleteUrl = Url.Action("DeleteBoat"),

		pollInterval = 2000,
	})


<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="@Url.Content("~/js/tutorial.jsx")"></script>
@Html.ReactInitJavaScript()
</body>
</html>